<!DOCTYPE html>
<html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="~{fragments/main_layout}">
<head>

    <title>Servicios</title>
</head>
<body>
	<div layout:fragment="content">
    <div class="container">

        <h1>Servicios</h1>

        <p>
          <!--  <a>Create</a> --> <a th:href="@{/cformService}">Create</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>codigo</th>
                    <th>descripcion</th>
                    <th>disponible</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="services : ${services}">
                    <td th:text="${services.id}">1</td>
                    <td th:text="${services.codigo}">codigo</td>
                    <td th:text="${services.descripcion}">descripcion</td>
                    <td th:text="${services.disponible}">disponible</td>
                    <td>
                        <a>Edit</a>   <!-- <a href="/productsEdit/1" th:href="@{/productsEdit/__${products.id}__}">Edit</a> -->
                        <a>Delete</a> <!-- <a href="/productsDelete/1" th:href="@{/productsDelete/__${products.id}__}">Delete</a> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</body>
</html>