<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
   <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css" >
   <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
   <script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>
   <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/postProducts.js"></script> 
    <script src="/js/getProducts.js"></script>
    <script src="/js/getReservas.js"></script>
    <script src="js/postReservas.js"></script>
    
   <!-- Los iconos tipo Solid de Fontawesome-->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
   
   <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
 <link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}" />
</head>
<body>

  <div th:replace="fragments/header :: header">
  </div>
	
  <div class="container">
    <div layout:fragment="content">
	
	 </div>
  </div>
  <div th:replace="fragments/footer::footer"></div>
</body>
</html>