<!DOCTYPE html>
<html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="~{fragments/main_layout}">
<head>
    <script src="js/postOrganizaciones.js"></script>
    <title>Crear Organizacion</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="container">

        <h1>Organizacion</h1>

        <form class="form-group" id="organizacionForm">
            <div class="form-group">
                <label for="content">Descripcion</label>
                <input class="form-control" id="descripcion"  />
            </div>
            <div class="form-group">
                <label for="content">Email</label>
                <input type="email" class="form-control" id="email"  />
            </div>
             <div class="form-group">
                <label for="content">Nombre</label>
                <input class="form-control" id="nombre"  />
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Cancel</a>
        </form>

    </div>
  </div>
</body>
</html>