<!DOCTYPE html>
<html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="~{fragments/main_layout}">
<head>

    <title>Crear Servicio</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="container">

        <h1>Servicio</h1>

        <form class="form-group" action="/cservicio" th:action="@{/cservicio}" method="post">
            <div class="form-group">
                <label for="title">Id</label>
                <input type="text" class="form-control" id="id" name="id" />
            </div>
            <div class="form-group">
                <label for="title">Codigo</label>
                <input type="text" class="form-control" id="codigo" name="codigo" />
            </div>
            <div class="form-group">
                <label for="content">Descripcion</label>
                <input class="form-control" id="descripcion" name="descripcion" />
            </div>
			<div class="form-group">
                <label for="content">organizacion</label>
                <input class="form-control" id="organizacion" name="organizacion.id" />
            </div>
			
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Cancel</a>
        </form>

    </div>
  </div>
</body>
</html>