<!DOCTYPE html>
<html 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="~{fragments/main_layout}">
<head>
    <script src="/js/getReservas.js"></script>
    <title>Reservas</title>
</head>
<body>
	<div layout:fragment="content">
    <div class="container">

        <h1>Reservas</h1>

        <p>
          <!--  <a>Create</a> --> <a th:href="@{/formReservarProducto}">Create</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Fecha de la Reserva</th>
                    <th>Usuario</th>
                    <th>Productos Reservados</th>
                </tr>
            </thead>
            <tbody id="myTableReservas" >
            </tbody>
        </table>
    </div>
    </div>
</body>
</html>