<header th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"  sec:authorize="!isAuthenticated()">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item"  sec:authorize="!isAuthenticated()">
        <a class="nav-link" href="/login">Log in</a>
      </li>

	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Productos</a>
	    <div class="dropdown-menu">
	      <a th:href="@{/cproducto}" class="dropdown-item" href="#">Listar</a>
	    </div>
	  </li>
	 
	 <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Servicios</a>
	    <div class="dropdown-menu">
	      <a th:href="@{/cservicio/0}" class="dropdown-item" href="#">Listar</a>
	    </div>
	  </li>
	
      <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reservas</a>
	    <div class="dropdown-menu">
	      <a th:href="@{/reservarProducto}" class="dropdown-item" href="#">Listar</a>
	    </div>
	  </li>
	
	
	<li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Organizaciones</a>
	    <div class="dropdown-menu">
	      <a th:href="@{/listarorganizacion}" class="dropdown-item" href="#">Listar</a>
	    </div>
	  </li>
	
	
	
	 <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Usuarios</a>
	    <div class="dropdown-menu">
	      <a th:href="@{/listUsers}" class="dropdown-item" href="#">Listar</a>
	    </div>
	  </li>
	    
    </ul>
    <ul class="nav navbar-nav ml-auto"  sec:authorize="isAuthenticated()">
      <li class="nav-item dropdown">
         <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">[[${#httpServletRequest.remoteUser}]]</a>
         <div class="dropdown-menu dropdown-menu-right">
           <a href="#" class="dropdown-item">Reports</a>
           <a href="#" class="dropdown-item">Settings</a>
           <div class="dropdown-divider"></div>
           <div class="col-lg-12">
             <form class="form-inline my-2 my-lg-0" name="gg" th:action="@{/logout}" method="post"  sec:authorize="isAuthenticated()">
               <input class="form-control mr-sm-2" type="hidden" />
                <div class="pull-right">
 		       <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
			 </div> 
             </form>
           </div>
         </div>
      </li>
    </ul>
  </div>
</nav>
</header>