<html>

<head>
   <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css" >
   <script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>
   <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
   
   <!-- Los iconos tipo Solid de Fontawesome-->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
   
   <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
   <link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}" />

   
 <title>Test Page</title>
</head>
<body>
	<div class="card" style="width: 18rem;">
  		<img class="card-img-top" src="..." alt="Card image cap">
  		<div class="card-body">
    		<h5 class="card-title">Card title</h5>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    		<a href="#" class="btn btn-primary">Go somewhere</a>
  		</div>
	</div>

</body>

</html>